.subject-info-box-1 select,
.subject-info-box-2 select {
  height: 232px;
  padding: 0;
}
.subject-info-box-1 select option,
.subject-info-box-2 select option {
  padding: 4px 10px 4px 10px;
}
.subject-info-box-1 select option:hover,
.subject-info-box-2 select option:hover {
  background: #EEEEEE;
}

.subject-info-arrows button {
    width: 100%;
    margin-bottom: 5px;
}